In [2]:
import pandas as pd
import os

In [5]:
df = pd.read_csv('../data/newfinal/combined.csv', index_col=False)
df.head()

,School,G,Overall.W,Overall.L,W-L%,SRS,SOS,Conf.W,Conf.L,Home.W,...,STL%,BLK%,eFG%,TOV%,ORB%,FT/FGA,SEED,POSTSEASON,REGION,YEAR
0,Abilene Christian,31,11,20,0.355,-19.60,-4.12,2.0,12.0,9.0,...,10.4,6.5,0.515,18.6,30.4,0.300,NaN,NaN,NaN,2014
1,Air Force,30,12,18,0.400,-4.08,1.71,6.0,12.0,8.0,...,8.3,9.9,0.504,17.9,26.7,0.260,NaN,NaN,NaN,2014
2,Akron,34,21,13,0.618,1.16,-0.48,12.0,6.0,13.0,...,10.0,10.5,0.503,16.8,35.2,0.252,NaN,NaN,NaN,2014
3,Alabama,32,13,19,0.406,8.34,8.88,7.0,11.0,13.0,...,10.5,11.8,0.499,15.8,30.4,0.303,NaN,NaN,NaN,2014
4,Alabama A&M,30,14,16,0.467,-13.86,-10.58,10.0,8.0,7.0,...,9.3,11.0,0.467,17.1,28.1,0.276,NaN,NaN,NaN,2014

In [24]:
df = pd.read_csv('../data/newfinal/combined.csv')
df.head()

,School,G,Overall.W,Overall.L,W-L%,SRS,SOS,Conf.W,Conf.L,Home.W,...,STL%,BLK%,eFG%,TOV%,ORB%,FT/FGA,SEED,POSTSEASON,REGION,YEAR
0,Abilene Christian,31,11,20,0.355,-19.60,-4.12,2.0,12.0,9.0,...,10.4,6.5,0.515,18.6,30.4,0.300,NaN,NaN,NaN,2014
1,Air Force,30,12,18,0.400,-4.08,1.71,6.0,12.0,8.0,...,8.3,9.9,0.504,17.9,26.7,0.260,NaN,NaN,NaN,2014
2,Akron,34,21,13,0.618,1.16,-0.48,12.0,6.0,13.0,...,10.0,10.5,0.503,16.8,35.2,0.252,NaN,NaN,NaN,2014
3,Alabama,32,13,19,0.406,8.34,8.88,7.0,11.0,13.0,...,10.5,11.8,0.499,15.8,30.4,0.303,NaN,NaN,NaN,2014
4,Alabama A&M,30,14,16,0.467,-13.86,-10.58,10.0,8.0,7.0,...,9.3,11.0,0.467,17.1,28.1,0.276,NaN,NaN,NaN,2014

In [23]:
path = '../data/perGameStats/'
newPath = '../data/newfinal/'

big = pd.DataFrame()
for file in os.listdir(path):
    if file.endswith('.csv'):
        df = pd.read_csv(path+file)
        df.fillna('NA', inplace=True)
        df['YEAR'] = file[:4]
        big = pd.concat([df, big], ignore_index=True)
        df.to_csv(newPath+file, index=False)

big.to_csv(f'{newPath}combined.csv', index=False)

In [6]:
df = pd.read_csv('../data/newfinal/combinedfix.csv')


# Create a mask for columns that need to be fixed
mask = ['TRB']
# Iterate over the selected columns and apply the fix to each value that needs it

temp = df.loc[df['YEAR'].isin([2022,2023])]

for col in mask:
    temp[col] = temp[col].div(temp['G'])

df.update(temp)

df.to_csv('../data/newfinal/combinedfix.csv', index=False)

/tmp/ipykernel_27473/851084116.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp[col] = temp[col].div(temp['G'])

In [ ]:
df = pd.read_csv('../data/final/combined.csv')

for i in range(2014, 2024):
    temp = df.loc[df['YEAR'] == i]
    temp.to_csv(f'../data/final/{i}-school-stats.csv', index=False)

In [7]:
df = pd.read_csv('../data/final/combined.csv')

for i in range(2014, 2024):
    temp = df.loc[df['YEAR'] == i]
    values = temp['SEED'].value_counts()
    print(values)
    print(values.sum())
    print('-----------------')

16.0    6
11.0    6
12.0    5
15.0    4
1.0     4
10.0    4
6.0     4
5.0     4
8.0     4
7.0     4
3.0     4
13.0    4
2.0     4
14.0    4
4.0     4
9.0     3
Name: SEED, dtype: int64
68
-----------------
11.0    6
16.0    6
14.0    4
2.0     4
5.0     4
3.0     4
15.0    4
12.0    4
6.0     4
8.0     4
10.0    4
1.0     4
13.0    4
4.0     4
7.0     4
9.0     4
Name: SEED, dtype: int64
68
-----------------
16.0    6
11.0    6
3.0     5
6.0     4
5.0     4
14.0    4
9.0     4
15.0    4
12.0    4
8.0     4
7.0     4
13.0    4
1.0     4
2.0     4
10.0    4
4.0     3
Name: SEED, dtype: int64
68
-----------------
11.0    6
16.0    6
2.0     4
8.0     4
3.0     4
13.0    4
4.0     4
6.0     4
7.0     4
14.0    4
1.0     4
5.0     4
15.0    4
10.0    4
9.0     4
12.0    4
Name: SEED, dtype: int64
68
-----------------
11.0    6
16.0    6
9.0     4
4.0     4
7.0     4
14.0    4
13.0    4
10.0    4
15.0    4
2.0     4
5.0     4
8.0     4
12.0    4
6.0     4
1.0     4
3.0     4
Name: SEED, dtype: int64
68
-----------------
11.0    6
16.0    6
15.0    4
5.0     4
9.0     4
6.0     4
7.0     4
1.0     4
10.0    4
4.0     4
14.0    4
3.0     4
2.0     4
12.0    4
8.0     4
13.0    4
Name: SEED, dtype: int64
68
-----------------
Series([], Name: SEED, dtype: int64)
0
-----------------
16.0    6
11.0    6
14.0    4
2.0     4
3.0     4
1.0     4
6.0     4
7.0     4
15.0    4
5.0     4
4.0     4
12.0    4
9.0     4
13.0    4
8.0     4
10.0    4
Name: SEED, dtype: int64
68
-----------------
16.0    6
12.0    5
11.0    5
13.0    4
6.0     4
1.0     4
4.0     4
2.0     4
8.0     4
15.0    4
14.0    4
5.0     4
9.0     4
10.0    4
7.0     4
3.0     4
Name: SEED, dtype: int64
68
-----------------
11.0    6
16.0    6
1.0     4
2.0     4
8.0     4
9.0     4
3.0     4
10.0    4
15.0    4
12.0    4
4.0     4
6.0     4
5.0     4
13.0    4
14.0    4
7.0     4
Name: SEED, dtype: int64
68
-----------------